body{
  background: url(background.jpg)  center center/ cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.accordian{
  max-width: 400px;
  width: 65%;
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
}
.accordian .accordian-title{
  text-align: center;
  margin-bottom: 30px;
}
.accordian .content-container .question{
  padding: 15px 0px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: 1px solid gray;
  position: relative; 
}
.accordian .content-container .question::after{
  content: '+';
  position: absolute;
  right: -2%;
  font-size: 20px;
}
.accordian .content-container .answer{
  padding-top: 15px;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  height: 0px;
  overflow: hidden;
  transition: 1s;
}

/* JavaScript Styling Link */
.accordian .content-container.active .answer{
  height: max-content;
}
.accordian .content-container.active .question{
  font-size: 18px;
  transition: .5s;
}

.accordian .content-container.active .question::after{
  content: '-';
  font-size: 30px;
  transition: .5s;
}

